{% extends "layout.html" %}

{% block title %}Select Departmental Representative{% endblock %}

{% block content %}
<style>
            /* Mobile Styling */
        @media (max-width: 767px) {
            .table-heading {
                font-size: 12px;
                text-align: center;
                padding: 5px;
            }
            .table th,
            .table td {
                padding: 8px 4px;
            }
        }

</style>
<div class="container mt-5">

    <h1>APPLICANTS</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Department</th>
                <th>Experience</th>
                <th>Suggestions</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicants %}
                <tr>
                    <td>{{ applicant.username }}</td>
                    <td>{{ applicant.department }}</td>
                    <td>{{ applicant.experience }}</td>
                    <td>{{ applicant.suggestions }}</td>
                    <td>
                        <form action="{{ url_for('select_representative') }}" method="post" style="display:inline;">
                            <input type="hidden" name="user_id" value="{{ applicant.user_id }}">
                            <button type="submit" class="custom-primary">Select</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
